@page
@model Inlämning3ApplikationHotelBooking.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl>
        <dt>
            Comment
        </dt>
        <dd>
            @Model.Review.Comment
        </dd>
        <dt>
            Rating
        </dt>
        <dd>
            @Model.Review.Rating
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Review.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
